.main-input {
	min-height: 500px;
	padding-top: 10px;
}

.title-input {
	padding: 5px 0px 5px 0px;

	& .DraftEditor-root {
		font-size: 24px;
		font-weight: 600;
	}
}

.toolbar {
	padding: 10px 0;
	border-top: 1px solid var(--dark-gray);
	border-bottom: 1px solid var(--dark-gray);
}
