.header {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 1px solid var(--gray);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	height: 70px;
	position: relative;
	z-index: 10;

	&-title {
		font-weight: 500;
		font-size: 24px;
	}
}
